body {
    background-color: #000;
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    color: #FFF;
    font-family: "Josefin Sans", sans-serif;
}
.text-center {
    text-align: center;
}

.pure-g {
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .pure-g {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .pure-g {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .pure-g {
        width: 1170px;
    }
}

.mt-0 {margin-top:0px;}
.mt-1 {margin-top:10px;}
.mt-2 {margin-top:20px;}
.mt-3 {margin-top:30px;}
.mt-4 {margin-top:40px;}
.mt-5 {margin-top:50px;}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}
.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.margin-auto {
    margin:auto;
}
.text-white {
    color:#FFF;
}